.area-chart{
  display: flex;
  width: 100%;
  margin-bottom: 50px!important;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  .area-rightbar{
    max-width: 342px;
    width: 100%;
    ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      li{
        text-align: center;
        height: 100%;
        padding: 13px;
        border-left: 1px solid #DFE0EB;
        &:not(:last-child){
          border-bottom: 1px solid #DFE0EB;
        }
        span{
          color: rgba($grey, .4);
          font-size: 14px;
        }
        b{
          font-size: 22px;
          color: $dark;
          display: block;
        }
        a{
          color: $blue;
          font-size: 12px;
        }
      }
    }
  }
  .area-content{
    width: 100%;
    padding: 30px;
    height: 500px;
    h2{
      font-size: 16px;
      color: $grey;
      line-height: 22px;
      margin-bottom: 5px;
    }
    .stats-label{
      margin-bottom: 50px;
      ul{
        text-align: right;
        li{
          white-space: nowrap;
          display: inline-flex;
          &:not(:first-child){
            margin-left: 50px;
          }
          span{
            width: 37px;
            height: 2px;
            display: inline-block;
            margin-right: 20px;
            position: relative;
            top: 10px;
          }
          p{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            color: rgba($grey, .4);
          }
        }
      }
    }
  }
}