.base-search-line{
  form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    width: 100%;
  }
  &.home{
    form{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}


@media(max-width: 940px){
  .base-search-line.home{
    .input:not(:first-child){
      display: none;
    }
    .select{
      display: none;
    }
    form{
      grid-template-columns: 1fr;
    }
  }
}