.search-sec{
  background-color: #F7F7F7;
  padding-bottom: 55px;
  h1{
    margin-bottom: 32px;
  }
  .range-wrap{
    margin-top: 45px;
    margin-bottom: 65px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 120px;
  }
}