.check-stats-item{
  margin-bottom: 32px;
  label{
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    input:checked + div:after{
      display: block;
    }
    div:not(.color-check){
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      border: 1px solid rgba($grey, .6);
      margin-right: 8px;
      position: relative;
      &::after{
        content: '';
        display: none;
        height: 5px;
        width: 11px;
        border-left: 2px solid rgba($grey, .6);
        border-bottom: 2px solid rgba($grey, .6);
        transform: rotate(-45deg);
        position: absolute;
        left: 6px;
        top: 6px;
      }
    }
    .color-check{
      border-radius: 50%;
      background-color: $accent;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    > span{
      font-size: 14px;
      line-height: 23px;
      color: $dark;
    }
  }
}