@media(max-width: 640px){
  body{
    h1{
      font-size: 20px;
      line-height: 36px;
    }
  }
  .search{
    padding-top: 20px;
    padding-bottom: 35px;
    h1{
      margin-bottom: 25px;
    }
    .form-wrap{
      display: block;
      .button{
        margin-top: 20px;
      }
    }
  }
  .direction-list ul{
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    grid-column-gap: 10px;
    column-gap: 10px;
  }
}